/* General */

body {
  color: rgba(3,27,78,.7);
  font-family: 'Roboto', sans-serif;
}

.inline_block li {
  display: inline-block;
}

/* Style Text */

.uppercase {
  text-transform: uppercase;
}

.bold_500 {
  font-weight: 500;
}

.bold_700 {
  font-weight: 700;
}
.subtitle {
  font-size: 20px;
}

.p_description {
  font-size: 16px;
  line-height: 24px;
}

.h2_def {
  color: #031b4e;
  font-size: 36px;
  font-weight: 700;
  padding: 15px;
}
.h2_size30 {
  font-size: 30px;
}
.h3_def {
  color: #031b4e;
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 16px;
}

/* Color */

.color_white {
  color: white;
}

.color_blue {
  color: #0069ff;
}

.bg_blue {
  background-color: rgb(0, 105, 255);
}

.bg_grey {
  background: #f3f5f9;
}

/* Float */

.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

/* Margin */

/* top */

.margin_top_15 {
  margin-top: 15px;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_top_45 {
  margin-top: 45px;
}

.margin_top_60 {
  margin-top: 60px;
}

.margin_top_75 {
  margin-top: 75px;
}

/* bottom */

.margin_bottom_15 {
  margin-bottom: 15px;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}

.margin_bottom_45 {
  margin-bottom: 45px;
}

.margin_bottom_60 {
  margin-bottom: 60px;
}

.margin_bottom_75 {
  margin-bottom: 75px;
}

/* Padding */

/* top */

.padding_top_15 {
  padding-top: 15px;
}

.padding_top_30 {
  padding-top: 30px;
}

.padding_top_45 {
  padding-top: 45px;
}

.padding_top_60 {
  padding-top: 60px;
}

/* bottom */

.padding_bottom_15 {
  padding-bottom: 15px;
}

.padding_bottom_30 {
  padding-bottom: 30px;
}

.padding_bottom_45 {
  padding-bottom: 45px;
}

.padding_bottom_60 {
  padding-bottom: 60px;
}

.padding_bottom_75 {
  padding-bottom: 75px;
}
