body {
  color: rgba(3,27,78,.7);
  font-family: 'Roboto', sans-serif;
}

.h2_def {
  color: #031b4e;
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
}

.color_white {
  color: white;
}

.color_blue {
  color: rgb(0, 105, 255);
}

.bg_blue {
  background-color: rgb(0, 105, 255);
}

.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

.bold_500 {
  font-weight: 500;
}

.bold_700 {
  font-weight: 700;
}
.font_p {
  font-size: 20px;
}

.margin_top_15 {
  margin-top: 15px;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_top_60 {
  margin-top: 60px;
}
