/* navbar */
.navbar {
  width: 100%;
  height: 65px;
  line-height: 65px;
  box-shadow: 0 2px 4px rgba(3,27,78,.1);
  margin-bottom: 0;
}
.navbar img {
  width: 200px;
  cursor: pointer;
}
.navbar a {
  line-height: 55px;
}
.navbar ul li {
  padding: 0 10px;
}
.navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  color: rgba(3,27,78,.7);
  font-size: 16px;
}
.navbar ul li a i, .footer_sponsor a i {
  font-size: 12px;
  padding: 4px;
}
.signup {
  border: 1px solid #0069ff;
  color: #0069ff;
  margin-left: 25px;
  font-size: 16px;
  padding: auto 30px;
  transition: 0.5s;
}
.signup:hover {
  color: white;
  background: #0069ff;
}
.hamburger_menu {
  display: none;
}

@media screen and (max-width: 970px) {
  .navbar ul, .signup {
    display: none
  }
  .hamburger_menu {
    display: inline-block;
    float: right;
    padding-top: 10px;
  }
}

/* jumbotron */

.jumbotron {
  background-image: url('https://www.digitalocean.com/assets/media/homepage/hero-background-c9490927.svg');
  background-size: cover;
  margin-bottom: 0;
}
.jumbotron h1 {
  font-size: 62px;
}
.jumbotron p {
 opacity: 0.8;
}
button img {
  width: 23px;
  float: left;
}
.registration_box {
  margin: 40px 0 40px 80px;
  padding: 30px 0px;
  background: white;
  border: 1px solid rgba(3,27,78,.1);
  box-shadow: 0 10px 20px rgba(3,27,78,.1);
  border-radius: 5px;
}
#sizeh2_registration {
  font-size: 30px;
}
.registration_box h2 {
  line-height: 45px;
}
.registration_box h2 span {
  color: #0069ff;
}
.form {
  height: 50px;
  padding: 0 16px;
  border: 1px solid #f1f1f1;
  color: rgba(3,27,78,.7);
  border-radius: 5px;
}
.google_btn {
  box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
  color: #757575;
}
.btn_create, .google_btn {
  transition: 0.5s;
}
.btn_create:hover {
  background: blue;
}
.google_btn:hover {
  background: #ECECEC;
  color: #757575;
}

@media screen and (max-width: 970px) {
  .jumbotron h1 {
    font-size: 40px;
  }
  .registration_box {
    margin: 0;
  }
}
@media screen and (max-width: 750px) {
  .jumbotron h1 {
    margin-top: 10px;
  }
  .jumbotron .registration_box {
    padding: 20px 0;
  }
  .jumbotron .registration_box h2 {
    margin-top: 0;
    padding-top: 0;
  }
  .jumbotron .margin_top_60 {
    margin-top: 0;
  }
  .jumbotron .subtitle p {
    font-size: 17px;
  }
}

/* sponsor */

.sponsor_title {
  font-size: 15px;
  color: #031b4e;
  opacity: 0.4;
  letter-spacing: .05em;
}
.sponsor ul li{
  margin: 20px;
}
.sponsor ul li img {
  height: 80px;
}
.sponsor ul li:last-child img {
  height: 35px;
}
.footer_sponsor a {
  font-size: 16px;
  text-decoration: none;
  letter-spacing: .05em;
}

@media screen and (max-width: 768px) {
  .sponsor ul li img {
    height: 40px;
  }
  .sponsor ul li:last-child img {
    height: 20px;
  }
  .sponsor ul {
    text-align: left;
  }
}
@media screen and (max-width: 375px) {
  .sponsor_icon {
    margin-left: 20px;
  }
}

/* description */

.left_selector {
  width: calc((100% / 5) * 2);
}
.tab_icon {
  width: calc((100% / 5) * 3);
}
.left_selector ul li {
  font-size: 20px;
  display: block;
  border-left: 2px solid #e5e8ed;
  padding: 15px 20px;
  margin-left: 30%;
}
.left_selector ul li a {
  color: rgba(3,27,78,.5);
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
.left_selector ul li a:hover {
  color: #031b4e;
}
.left_selector ul li:active {
  border-left: 2px solid #0069ff;
}
.description img {
  width: 40px;
}
.description .box {
  width: 280px;
  height: 180px;
  padding-left: 16px;
  padding-top: 16px;
}

@media screen and (max-width: 970px) {
  .left_selector {
    width: 100%;
  }
  .left_selector ul li{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .left_selector ul li:first-child {
    border-left: none;
  }
  .tab_icon {
    width: 100%;
    margin: 0 auto;
    padding-left: 70px;
  }
}
@media screen and (max-width: 375px) {
  .left_selector ul li {
    font-size: 17px;
    padding: 5px;
    margin-left: 0;
  }
  .left_selector ul {
    padding-left: 0
  }
  .tab_icon {
    padding-left: 0;
  }
}

/* reply */

.reply {
  position: relative;
}
.reply .screenshot img{
  width: 736px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(3,27,78,.06);
}

.reply i {
  font-weight: 700;
  font-size: 32px;
  padding: 30px;
}

.chevron_left, .chevron_right {
  position: absolute;
  top: 48%;
}

.chevron_left {
  left: 130px;
}

.chevron_right {
  right: 130px;
}
.circle {
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
}
.img-responsive{
  margin: 0 auto;
}

@media screen and (max-width: 970px) {
  .chevron_left, .chevron_right {
    display: none;
  }
  .reply p.subtitle br {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .img-responsive img {
    height: 50px;
  }
}
